* {
margin : 10;
padding : 10;
box-sizing : border-box;
font-size : 100%;
}

#name-headline {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-top : 30px;
   background-color : hsl(0 0% 100% / 0);
  
}

.darkviolet {
  background-color: #9400d3;
}

.deepskyblue {
  color: #00bfff;
}

.silver {
  background-color: #c0c0c0;
}

.aqua {
  background-color: rgba(0,0,0,0);
  
}

.powderblue {
  background-color: powderblue;
}
  

#business-card {
width : 350px;
background-color : hsl(0 0% 100% / 0.9);
border-radius : 20px;
box-shadow : 10px 10px 80px hsl(0 0% 0% / 0.8);
filter : opacity(70%);
margin-top : 50px;
margin : 50px;
}

body {
display : flex;
justify-content : center;
align-items : center;
height : 140vh;
}

#head, #links {
text-align : center;
}

#head, #content {
width : 95%;
margin : 0 auto;
}

img {
width : 100px;
height : 100px;
border-radius : 50%;
padding : 1px;
background-color : blue;
transition : all 0.5s ease-in-out;
transform : scale(1.3);
/*filter : opacity(700%);*/
border : currentColor dashed 0.4px;
}

img:hover {
transform : scale(1.5);
filter : grayscale(20%);
}

ul {
list-style-type : none;
text-align: center;

 
  
}
li {
display : inline;

  
}
#head, #about {
margin-bottom : 5%;
}
#content {
padding : 3% 5%;
border-top : 1px solid hsl(0 0% 10% / 1);
margin-bottom : 20px;
margin-top : 30px;
filter : opacity(100%);
background-color : hsl(0 0% 100% / 0);
}
body {
background : url('assets/sea.jpg') center center no-repeat fixed;
background-size : cover;
background-image : url('assets/sea.jpg');
background-repeat : no-repeat;
background-position : center center;
background-attachment : fixed;
}

#head {
margin-top : -50px;
border-radius : 50px;
background-color : hsl(0 0% 100% / 0);
 filter: opacity(100%); 
}

#name-headline {
margin-top : 30px;
background-color : hsl(0 0% 100% / 0);
}
#profile-image {
margin-top : -50px;
background-color : hsl(0 0% 100% / 0);
}

p {
  color: #191970;
  text-align: justify;
  font-size: 32px;
  font-family: Merriweather, sans-serif;
}

h1 {
  color: red;
  font-size: 34px;
  font-weight: bold;
}

h2 {
  color: green;
  text-align: center;
  font-size: 36px;
}

h3,h4 {
  font-size: 22px;
  text-align: center;
    color: #00008b;
}
section {
  text-align: center;
  font-size: 22px;
}

.flag {
  width: 50px;
  height: 30px;
  border-radius : 5%;
  background-color : gray;
  border: gray solid 0.1px;
  
}
.languages {
  display: inline;
}

.links {
  background-color: hsl(0 0% 100% / 0.3);
  margin: 15px;
  border-radius: 10px;
  box-shadow : 10px 10px 80px hsl(0 0% 0% / 0.4);
}

/*@media(min-width: 600px) {
  #business-card {
    display: inline-block;
    border-bottom: none;
    width: 70rem;
  }
}*/

@media (min-width: 600px) {
  #business-card {
    display: inline-block;
    border-bottom: none;
    width: 90%;
  }
    
  footer {
    min-height: 7vh;
  }

    p {
    font-size: 2rem;
  } 
  
}














